
<div id="carousel"></div>
<hr class="none">
<div class="item row clearfix">
  <div class="labels col-md-3 pull-left">
    <span>Body Content</span>
  </div>
  <div class="main col-md-9 pull-right">
    <textarea ui-tinymce="ContentHome.bodyWYSIWYGOptions" class="form-control" rows="3" col="100"
              placeholder="This is WYSIWYG" data-ng-model = "ContentHome.data.content.description"></textarea>
  </div>
</div>
<hr class="none">
<div class="item row clearfix">
  <div class="labels col-md-3 pull-left">
    <span>Address Title</span>
  </div>
  <div class="main col-md-9 pull-right">
    <input type="text" class="form-control" data-ng-model="ContentHome.data.content.addressTitle">
  </div>
</div>
<hr class="none">
<div class="item row clearfix">
  <div class="labels col-md-3 pull-left">
    <span>Address</span>
  </div>
  <div class="main col-md-9 pull-right">
    <input type="text" class="form-control"
           placeholder="Enter street address and geo coordinates"
           google-location-search callback-fn="ContentHome.setLocation(data)"
               ng-model="ContentHome.data.content.address.location">

    <div class="display-map margin-top-ten">
      <div class="checkbox checkbox-primary">
        <input type="checkbox"
               id="display_map">
        <label for="display_map">Display Map</label>
      </div>
    </div>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Dynamic Links</span>
  </div>
  <div class="main col-md-9 pull-right">
    Dynamic Links
  </div>
</div>