
<div class="item row clearfix">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>List Layout</span>
  </div>
  <div class="main col-md-9 pull-right">
    <div class="screens clearfix">
      <div class="screen layouticon pull-left">
        <a class="border-radius-three default-background-hover text-center">
          <img
                  ng-src="images/{{DesignHome.data.design.listLayout}}.png">
        </a>
      </div>
      <div class="screen layoutgrid pull-right border-grey border-radius-three margin-left-zero">
        <a ng-repeat="layout in DesignHome.layouts.listLayouts" class="layouticon border-radius-three default-background-hover text-center" ng-click="DesignHome.changeItemLayout(layout.name)">
          <img ng-src="images/{{layout.name}}.png">
        </a>

      </div>
    </div>
  </div>
</div>
<hr>
  <div id="background"></div>