
<div class="item row clearfix">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>List Layout</span>
  </div>
  <div class="main col-md-9 pull-right">
    <div class="screens clearfix">
      <div class="screen layouticon pull-left">
        <a class="border-radius-three default-background-hover text-center">
          <img
                  ng-src="images/{{DesignHome.contactUsDesignData.design.listLayout}}.png">
        </a>
      </div>
      <div class="screen layoutgrid pull-right border-grey border-radius-three margin-left-zero">
        <a ng-repeat="layout in DesignHome.layouts.listLayouts" class="layouticon border-radius-three default-background-hover text-center" ng-click="DesignHome.changeListLayout(layout.name)">
          <img ng-src="images/{{layout.name}}.png">
        </a>

      </div>
    </div>
  </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Background Images</span>
  </div>
  <div class="main col-md-9 pull-right">
    <div class="screens clearfix">
      <div class="screen text-center layouticon pull-left">
        <a class="border-grey border-radius-three default-background-hover text-center">
          <span class="add-icon hidden">+</span>
          <img src="">
        </a>
        <label class="secondary">750x1334</label>
					<span
              class="icon btn-icon btn-delete-icon btn-danger transition-third"></span>
      </div>
    </div>
  </div>
</div>