<div class="modal-header">
      <h5 class="item-link-header"> Add Image</h5>
 </div>
                    <div class="modal-body">
                        <div class="item clearfix row">
                            <div class="labels col-md-3 padding-right-zero pull-left">
                                <span>Image</span>
                            </div>
                            <div class="main col-md-9 pull-right">
                                <div class="screens clearfix">
                                    <div class="screen layouticon pull-left" ng-hide="addImageDetail.image_src">
                                        <a class="border-grey border-radius-three default-background-hover"  ng-click="addimage();"></a>
                  					</div>
                  					<div class="screen layouticon pull-left" ng-show="addImageDetail.image_src">
                                        <img class="border-grey border-radius-three default-background-hover"  ng-click="addimage();"  ng-src="{{addImageDetail.image_src}}">
                  					</div>
                  					
                                </div>
                            </div>
                        </div>
                        <hr class="none">
                        <div class="item clearfix row">
                            <div class="labels col-md-3 padding-right-zero pull-left">
                                <span>Title</span>
                            </div>
                            <div class="main col-md-9 pull-right">
                                <input type="text" class="form-control" ng-model="addImageDetail.image_title" placeholder="">
                            </div>
                        </div>
                        <hr class="none">
                        <div class="item clearfix row">
                            <div class="labels col-md-3 padding-right-zero pull-left">
                                <span>Carousel Link url</span>
                            </div>
                            <div class="main col-md-9 pull-right">
                                <input type="url" class="form-control" ng-model="addImageDetail.imageurl" placeholder="">
                            </div>
                        </div>
                        <hr class="none">
             
                    </div>
                    <div class="bottom border-top-grey clearfix">
                        <div class="col-md-6 pull-left text-center">
                            <a class="text-danger default-background-hover transition-third" ng-click="cancel();">Cancel</a>
                        </div>
                        <div class="col-md-6 pull-right text-center border-left-grey">
                            <a class="text-success default-background-hover transition-third" ng-click="save();">Save</a>
                        </div>
                    </div>