  <div class="model header">
           Link URL
   </div>

	                                <div class="modal-body" style="height:60%;">
	                                    <div class="container" style="height:100%;">
	                                        <h5 class="margin-bottom-twenty">Please enter your DeepLink Url or standard URL to link to content</h5>
	                                        
	                                            <div class = "row form-group">
	
	                                                <label class="col-xs-3"><h5 >URL</h5></label>
	                                                <div class="col-xs-9"><input type="url"  ng-model="vewData.imageurl" class="form-control"/></div>
	                                            </div>
	                                        
	                                        
	                                         
	                                            <div class = "row ">
	
	                                                <label class="col-xs-3"><h5 >Title</h5></label>
	                                                <div class="col-xs-9"><input type="text"  ng-model="vewData.image_title" class="form-control"/></div>
	                                            </div>
	                                        
	
	                                        
	                                            <div class = "row form-group">
	
	                                                <label class="col-xs-3" ><h5 >Open in App</h5></label>
	                                                <div class="col-xs-9 ">
<!-- 	                                                <input type="checkbox" ng-model="vewData.openinapp"/> -->
	                                                <div class="checkbox checkbox-primary margin-top-five">
															  <input type="checkbox" ng-model="vewData.openinapp">
						  										<label for="checkboxid">&nbsp;</label>
			  										</div>
	                                                </div>
	                                            </div>
	                                        
	
	
	                                    </div>
	
	                                </div>

    
                                 <div class="bottom border-top-grey clearfix">
                        			<div class="col-md-6 pull-left text-center">
                            			<a class="text-danger default-background-hover transition-third" ng-click="cancel();">Cancel</a>
                        			</div>
                        			<div class="col-md-6 pull-right text-center border-left-grey">
                            			<a class="text-success default-background-hover transition-third" ng-click="ok();">Save</a>
                        			</div>
                    			</div>
	
