  <div class="model header">
           Link URL
   </div>

	                                <div class="modal-body" style="height:60%;">
	                                    <div class="container" style="height:100%;">
	                                        <h5 style="margin : 10% 0 10% 0;">Please enter your DeepLink Url or standard URL to link to content</h5>
	                                        <div class="container" style="height:25%;width:100%;">
	                                            <div class = "row">
	
	                                                <label class="col-xs-3"><h5 style="margin-top:0%;">URL</h5></label>
	                                                <div class="col-xs-9"><input type="url" style="width:100%;" ng-model="vewData.imageurl"/></div>
	                                            </div>
	                                        </div>
	                                        
	                                         <div class="container" style="height:25%;width:100%;">
	                                            <div class = "row">
	
	                                                <label class="col-xs-3"><h5 style="margin-top:0%;">Title</h5></label>
	                                                <div class="col-xs-9"><input type="text" style="width:100%;" ng-model="vewData.image_title"/></div>
	                                            </div>
	                                        </div>
	
	                                        <div class="container" style="height:25%;width:100%;">
	                                            <div class = "row">
	
	                                                <label class="col-xs-3" ><h5 style="margin-top:0%;">Open in App</h5></label>
	                                                <div class="col-xs-9"><input type="checkbox" ng-model="vewData.openinapp"/></div>
	                                            </div>
	                                        </div>
	
	
	                                    </div>
	
	                                </div>

    
                                 <div class="bottom border-top-grey clearfix">
                        			<div class="col-md-6 pull-left text-center">
                            			<a class="text-danger default-background-hover transition-third" ng-click="cancel();">Cancel</a>
                        			</div>
                        			<div class="col-md-6 pull-right text-center border-left-grey">
                            			<a class="text-success default-background-hover transition-third" ng-click="ok();">Save</a>
                        			</div>
                    			</div>
	
