<!DOCTYPE html>
<html ng-app="widgetapp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- 	<link href="../../../../styles/helper.css" rel="stylesheet" /> -->


	<!-- JS -->
	<script src="../../../scripts/buildfire.js"></script>

	<script src="../../../scripts/angular/angular.min.js"></script>

	<script src="../../../scripts/angular/ui-bootstrap.min.js"></script>
	<script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false?key=AIzaSyD94EXLxKUBcidyIL0nTAic7ryZus2C0fw"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style type="text/css">
 .left .carousel-control{
  display:none;
 }
 
 .right .carousel-control{
   display:none;
 }

</style>


</head>

<body>





<body ng-controller="textPluginCtrl" ng-cloak style="background:url({{data.content.bgUrl}});background-repeat:no-repeat;height:100%;">

<!-- <div ng-controller="textPluginCtrl" ng-cloak style="background:url({{data.content.bgUrl}});background-repeat:no-repeat;height:100%;">  -->




<div class="container" style="height:5%;width:100%;background-color:deepskyblue;text-align:center;display:table;margin:0% 0% 0% 0%;">
	<span class="indicator glyphicon glyphicon-chevron-left" style="float:left;margin:2% 1% 2% 1%;display:table-cell;"></span>
	<h4 style="display:table-cell;vertical-align:middle;">Contact Us</h4>
	<span class="glyphicon glyphicon-menu-hamburger" style="float:right;margin:2% 1% 2% 1%;display:table-cell;vertical-align: middle"></span>

</div>



<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:30%"> -->




<!-- 	<ol class="carousel-indicators"> -->
<!-- 		<li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li> -->
<!-- 		<li data-target = "#myCarousel" data-slide-to = "1"></li> -->
<!-- 		<li data-target = "#myCarousel" data-slide-to = "2"></li> -->
<!-- 	</ol> -->

<!-- 	<div class = "carousel-inner" style="height:100%;width:100%" ng-repeat="image in data.array"> -->
<!-- 		<div class = "item active" style="height:100%;width:100%;" > -->
<!-- 			<a href="#"><img src = {{image}} style="height:100%;width:100%;" alt="Beach" class="img-responsive"></a> -->
<!-- 		</div> -->


<!-- 	</div> -->
<!-- 	</div> -->
	
<div style="height:30%">
	 <carousel interval="1000" no-wrap="true">
      <slide ng-repeat="slide in data.array" active="slide.active">
        <img ng-src="{{slide}}" style="margin:auto; width:100%">
        
      </slide>
    </carousel>
  </div>  

<div style="height:10%;">
	<div class="addresstitleclass"  style="height:60px;text-align:center;">
		<h4 style="margin:0;padding:0;line-height:60px;color:deepskyblue;">{{data.content.addresstitle}}</h4>
	</div>
</div>


<hr style="margin:0%;color:deepskyblue;border-style:inset;">

<div>
	<div class="addressclass"  style="height:60px;text-align:center;">
		<p style="margin:0;padding:0;line-height:60px;color:deepskyblue;">{{data.content.address}}</p>
	</div>
</div>




<div style="height:25%">
	<div id="myMap" mapdirective class="mapclass" style="height:100%;"></div>
</div>

<div ng-include="as.html"></div>

<div>
	<div class="bodyclass"  style="height:60px;text-align:center;text-align:justify;">
		{{data.content.bodyclass}}
	</div>
</div>




  <script>



	var textPluginApp = angular.module('widgetapp', ['ui.bootstrap']);

	textPluginApp.controller('textPluginCtrl', ['$scope','$location', function ($scope,$location) {


	/*	buildfire.datastore.get('imagefile',function(err,data){
			if(err)
				alert('there was a problem retrieving your data');
			else
				alert('got your data ' + JSON.stringify(data) );
		});
*/
    $scope.absUrl = $location.absUrl();
	$scope.absUrl	 = $scope.absUrl.split('contactUsPlugin');
	$scope.absUrl = $scope.absUrl[0] + 'contactUsPlugin/' ;
    
		function bind(data){
			$scope.data = data;
// 			console.clear();
			console.log("widget data");
			
			console.log($scope.data.array);
			console.log($scope.data);
			$scope.$digest();
		}

		/*
		 * Go pull saved data
		 * */
		function loadData() {
			buildfire.datastore.get(function (err, result) {
				if (result) bind(result.data);
			});
		}
		loadData();

		/**
		 * when a refresh is triggered get reload data
		 */
		buildfire.datastore.onRefresh(loadData);



		buildfire.datastore.get(function (err, result) {
			if(result) {
				$scope.data = result.data;

				$scope.query = $scope.data.content.address;
				$scope.codeAddress();
				$scope.$digest();
			}

		});

		var geocoder = new google.maps.Geocoder();
		$scope.codeAddress = function() {
			var address = $scope.query;


			geocoder.geocode( { 'address': address}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {

					console.log(results[0].geometry.location);
					$scope.lat = results[0].geometry.location.lat();
					$scope.long = results[0].geometry.location.lng();
					$scope.mapobj.setCenter(new google.maps.LatLng($scope.lat,$scope.long ));
					$scope.markerobj.setPosition(new google.maps.LatLng($scope.lat,$scope.long ));
				} else {
					alert('Geocode was not successful for the following reason: ' + status);
					lat = "";
					long = "";
				}
			});
		}







		$scope.lati = 28.6139;
		$scope.long = 77.2090;






		/* Listen in if an update occurred on the control panel  */

		buildfire.datastore.onUpdate(function (newObj) {
			$scope.data = newObj.obj;

			$scope.query = $scope.data.content.address;
			$scope.codeAddress();
			$scope.$digest();




		});
		
		



		buildfire.analytics.trackAction('widget loaded',{userid:2});
	}]);





textPluginApp.directive('mapdirective',function(){
		
		var link = function(scope,element,attrs){
			
			var map;
			var marker;
			var address;
			var infoWindow;




			var lati = scope.lati;
			var long = scope.long;



			var latlng = new google.maps.LatLng(lati,long);

			var mapOptions = {
				center : latlng,
				// center: ll,
				zoom : 16,
				mapTypeId : google.maps.MapTypeId.ROADMAP
			};





			map = new google.maps.Map(element[0],mapOptions);

			scope.mapobj = map;


	/*		var markerOptions = {
				position : latlng,
				map :map,
				clickable : true,
				draggable: true
			};

			marker = new google.maps.Marker(markerOptions);
*/

			
			marker = new google.maps.Marker({ 
		        position: latlng,
		        draggable: true,
		        animation: google.maps.Animation.DROP 
    		}); 

    		marker.setMap(map); 
			
			
			scope.markerobj = marker;
			
			var draglat,draglng, dragEndlat, dragEndlong;
			
			google.maps.event.addListener(marker,'drag',function(event) {
				draglat = event.latLng.lat();
				draglng = event.latLng.lng();
				console.log('draglat '+draglat+', draglng '+draglng);
		    });
			
			var geocoder = new google.maps.Geocoder();

		    google.maps.event.addListener(marker,'dragend',function(event) {
		    	dragEndlat = event.latLng.lat();
		    	dragEndlong = event.latLng.lng();
		    	console.log('dragEndlat '+dragEndlat+', dragEndlong '+dragEndlong);
		    	
		    	
		    	var latlng = new google.maps.LatLng(dragEndlat, dragEndlong);
		    	map.setCenter(latlng);
		  	  geocoder.geocode({'location': latlng}, function(results, status) {
		  	    if (status == google.maps.GeocoderStatus.OK) {
		  	      if (results[1]) {
		  	    	console.log(results[0].geometry.location);
		  	    	console.log('Address '+results[1].formatted_address);
		  	    	scope.data.content.address = results[1].formatted_address;
		  	    	scope.$apply();
// 		  	        map.setZoom(11);
// 		  	        marker = new google.maps.Marker({
// 		  	          position: latlng,
// 		  	          map: map
// 		  	        });
// 		  	        infowindow.setContent(results[1].formatted_address);
		  	       // infowindow.open(map, marker);
		  	      } else {
		  	       // window.alert('No results found');
		  	        alert('Address was not successful for the following reason: ' + status);
		  	      }
		  	    } else {
		  	      //window.alert('Geocoder failed due to: ' + status);
		  	      alert('Address was not successful for the following reason: ' + status);
		  	    }
		  	  });
		  	  
		    	
		    });


// 		    var geoAddress = new google.maps.Geocoder();
// 			$scope.codeAddress = function() {
// 				var address = $scope.query;

// 				geocoder.geocode( { 'laglong': address}, function(results, status) {
// 					if (status == google.maps.GeocoderStatus.OK) {

// 						console.log(results[0].geometry.location);
// 						$scope.lat = results[0].geometry.location.lat();
// 						$scope.long = results[0].geometry.location.lng();
// 						$scope.mapobj.setCenter(new google.maps.LatLng($scope.lat,$scope.long ));
// 						$scope.markerobj.setPosition(new google.maps.LatLng($scope.lat,$scope.long ));
// 					} else {
// 						alert('Geocode was not successful for the following reason: ' + status);
// 						lat = "";
// 						long = "";
// 					}
// 				});
// 			}
			
			
/*
 * 
 google.maps.event.addListenerOnce(map, 'tilesloaded', function() {
     google.maps.event.addListenerOnce(map, 'tilesloaded', function() {
         google.maps.event.trigger(map, 'resize');

     });
});
 */


			google.maps.event.addListenerOnce(map, 'idle', function(){
//myMap
				//var mapCopyright=element[0].getElementsByTagName("a");
				var mapCopyright=element[0].getElementsByTagName("a");
				$(mapCopyright).click(function(){
					return false;
				});
			});


		}

		return {
			restrict : 'AEC',
			template : '<div id="lmap"></div>',
			replace : true,
			link : link

		}

	});


</script>
</body>
</html>