<div class="holder padding-zero">
  <div class="contact-plugin layout1">
    <div class="plugin-banner clearfix">
      <div id="carousel"
           ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"
           build-fire-carousel=""></div>
    </div>
    <div class="padded text-center text-overlay"
         ng-if="WidgetHome.data.content.links[0] || WidgetHome.data.content.addressTitle||WidgetHome.data.content.address.location">
      <a class="contact-info-button btn btn-primary" ng-show="WidgetHome.data.content.links[0]"
         ng-click="WidgetHome.openLinks(WidgetHome.data.content.links, $event)"
         bfString="general.contactInfo">Contact
        info</a>
      <hr class="small" ng-show="WidgetHome.data.content.links[0]">
      <p class="margin-bottom-zero text-primary"
         ng-show="WidgetHome.data.content.addressTitle">
        <a class="text-primary" ng-click="WidgetHome.onAddressClick(WidgetHome.data.content.address.location_coordinates[0],WidgetHome.data.content.address.location_coordinates[1])">
          {{WidgetHome.data.content.addressTitle}}</a></p>

      <p class="margin-bottom-zero text-primary"
         ng-hide="WidgetHome.data.content.addressTitle">
        <a class="text-primary" ng-click="WidgetHome.onAddressClick(WidgetHome.data.content.address.location_coordinates[0],WidgetHome.data.content.address.location_coordinates[1])">
          {{WidgetHome.data.content.address.location}}</a></p>

    </div>
    <div class="contact-maps text-center"
         ng-if="WidgetHome.data.content.address && WidgetHome.data.content.showMap">
      <div google-map class="map-size"
           coordinates="WidgetHome.data.content.address.location_coordinates"></div>
    </div>
    <div class="padded text-overlay">
      <p ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
    </div>
  </div>
</div>
