<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/helper.css">
    
    <!-- Meta -->
	<meta charset="utf-8">
</head>
<div class="holder padding-zero">
	<div class="contact-plugin layout2">	
		<div class="contact-maps text-center">
			<img src="http://www.placehold.it/1920x1080">
			<div class="contact-address bg-primary">
				<p class="margin-bottom-zero col-md-12">1234 Grand Ave, San Diego, 92127 1234 Grand Ave, San Diego, 92127</p>
			</div>
		</div>
		<div class="padded text-center">
			<div class="plugin-banner clearfix">
				<div class="plugin-slider text-center">
					<div class="plugin-slide pull-left">
						<img class="border-radius-four" src="http://www.placehold.it/140x100">
					</div>
					<div class="plugin-slide pull-left hidden">
						<img class="border-radius-four" src="http://www.placehold.it/140x100">
					</div>
					<div class="plugin-slide pull-left hidden">
						<img class="border-radius-four" src="http://www.placehold.it/140x100">
					</div>
				</div>
			</div>
			<div class="margin-top-ten">
				<a class="text-primary">Contact info</a>
			</div>
		</div>
		<hr class="small margin-zero">
		<div class="padded">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
</html>