
<div background-image="{{WidgetHome.data.design.backgroundImage}}" class="holder padding-zero">
  <div class="contact-plugin layout1">
    <div class="plugin-banner clearfix border-bottom-grey">
      <div id="carousel" build-fire-carousel=""></div>
    </div>
    <div class="padded text-center">
      <a class="text-primary" ng-show="WidgetHome.data.content.links[0]" ng-click="WidgetHome.openLinks(WidgetHome.data.content.links)">Contact info</a>
      <hr class="small"  ng-show="WidgetHome.data.content.links[0]">
      <p class="margin-bottom-zero" ng-show="WidgetHome.data.content.addressTitle">{{WidgetHome.data.content.addressTitle}}</p>
      <p class="margin-bottom-zero" ng-hide="WidgetHome.data.content.addressTitle">{{WidgetHome.data.content.address.location}}</p>

    </div>
    <div class="contact-maps text-center"
         ng-if="WidgetHome.data.content.address && WidgetHome.data.content.showMap">
      <div google-map style="height: 192px"
           coordinates="WidgetHome.data.content.address.location_coordinates"></div>
    </div>
    <div class="padded">
      <p ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)">'</p>
    </div>
  </div>
</div>
