<div class="holder padding-zero">
  <div class="contact-plugin layout2">
    <div class="contact-maps text-center" ng-if="WidgetHome.data.content.addressTitle || WidgetHome.data.content.address.location">
      <div google-map class="mapSize" ng-if="WidgetHome.data.content.address && WidgetHome.data.content.showMap"
           coordinates="WidgetHome.data.content.address.location_coordinates"></div>
      <div class="contact-address bg-primary">
        <p class="margin-bottom-zero col-md-12"
           ng-show="WidgetHome.data.content.addressTitle">
          {{WidgetHome.data.content.addressTitle}}</p>

        <p class="margin-bottom-zero col-md-12"
           ng-hide="WidgetHome.data.content.addressTitle">
          {{WidgetHome.data.content.address.location}}</p>
      </div>
    </div>
    <div class="padded text-center">
      <div class="plugin-banner clearfix">
        <div class="plugin-slider text-center"
             ng-if="WidgetHome.data.content.carouselImages && WidgetHome.data.content.carouselImages.length"
             image-carousel="{{WidgetHome.data.content.carouselImages.length}}">
          <div class="plugin-slide item"
               data-ng-repeat="image in WidgetHome.data.content.carouselImages | filter:isDefined">
            <a href="{{image.url}}" data-ng-if="image.url"
               target="{{image.openIn}}"><img
                ng-src="{{image.iconUrl | getImageUrl : 140 : 100}}"></a>
            <img data-ng-if="!image.url"
                 ng-src="{{image.iconUrl | getImageUrl : 140 : 100}}">
          </div>
        </div>
      </div>

      <div class="margin-top-ten text-overlay">
        <a class="text-primary" ng-show="WidgetHome.data.content.links[0]"
           ng-click="WidgetHome.openLinks(WidgetHome.data.content.links)">Contact
          info</a>
        <hr class="small margin-zero "
            ng-show="WidgetHome.data.content.links[0]">
      </div>
    </div>

    <div class="padded text-overlay">
      <p ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)"></p>
    </div>
  </div>
</div>
