<div class="holder padding-zero"  ng-cloak style="background:url({{dataForView.design.bgUrl}});background-repeat:no-repeat;height:100%;">
	<div class="contact-plugin layout1">
		<div>
			<carousel interval="3000" no-wrap="true">
				<slide ng-repeat="slide in dataForView.array">
					<img ng-src="{{slide.image_src}}" style="margin:auto; width:100%"  open-link="{{slide.imageurl}}">
				</slide>
			</carousel>
		</div>

		<div class="padded text-center">
			<a class="text-primary">{{dataForView.content.addresstitle}}</a>
			<hr class="small">
			<p class="margin-bottom-zero">{{dataForView.content.address}}</p>
		</div>
		<div class="contact-maps text-center" ng-if="dataForView.content.checkboxMode" >
			<div class="newMap" mapdirective  ></div>
		</div>
		<div class="padded">
			<p>{{dataForView.content.bodyclass}}</p>
		</div>
	</div>
</div>
