

<div class="holder padding-zero"   ng-cloak style="background:url({{dataForView.design.bgUrl}});background-repeat:no-repeat;height:100%;">
	<div class="contact-plugin layout2">
		<div class="contact-maps text-center">
<!-- 			<img src="http://www.placehold.it/1280x720.jpg"> -->
            <div ng-if="dataForView.content.checkboxMode">  
			 	<div class="newMap" mapdirective  ></div>
			 </div>	
			<div class="contact-address bg-primary">
				<p class="margin-bottom-zero col-md-12">{{dataForView.content.address}}</p>
			</div>
		</div>
		<div class="padded text-center">
		  <carousel interval="3000000" no-wrap="true">
            <slide ng-repeat="slide in thumbnailList">
                <img ng-src="{{data.image_src}}" style="margin:4% 2% 4% 2%; width:24%;display:inline-block;" height="100%" ng-repeat="data in slide" open-link="{{data.imageurl}}">
            </slide>
        </carousel>


			<div class="margin-top-ten">
				<a class="text-primary">{{dataForView.content.addresstitle}}</a>
			</div>
		</div>
		<hr class="small margin-zero">
		<div class="padded">
			<p>{{dataForView.content.bodyclass}}</p>
		</div>
	</div>
</div>