
<div class="holder padding-zero">
  <div class="contact-plugin layout2">
    <div class="contact-maps text-center">
      <img src="http://www.placehold.it/1280x720.jpg">
      <div class="contact-address bg-primary">
        <p class="margin-bottom-zero col-md-12" ng-show="WidgetHome.data.content.addressTitle">{{WidgetHome.data.content.addressTitle}}</p>
        <p class="margin-bottom-zero col-md-12" ng-hide="WidgetHome.data.content.addressTitle">{{WidgetHome.data.content.address.location}}</p>
      </div>
    </div>
    <div class="padded text-center">
      <div class="plugin-banner clearfix">
        <div class="plugin-slider text-center">
          <div class="plugin-slide pull-left">
            <img class="border-radius-four" src="http://www.placehold.it/140x100">
          </div>
          <div class="plugin-slide pull-left hidden">
            <img class="border-radius-four" src="http://www.placehold.it/140x100">
          </div>
          <div class="plugin-slide pull-left hidden">
            <img class="border-radius-four" src="http://www.placehold.it/140x100">
          </div>
        </div>
      </div>
      <div class="margin-top-ten">
        <a class="text-primary" ng-click="WidgetHome.openLinks(WidgetHome.data.content.links)">Contact info</a>
      </div>
    </div>
    <hr class="small margin-zero">
    <div class="padded">
      <p ng-bind-html="WidgetHome.safeHtml(WidgetHome.data.content.description)">'</p>    </div>
  </div>
</div>
