/*
This plugin will contain all custome styles related to widget design.
*/
.left .carousel-control {
	display: none;
}

.right .carousel-control {
	display: none;
}

.newMap {
	height: 150px !important;
}

.newMapLayout2 {
	height: 200px !important;
}

.gm-style-iw > div {
	border: none !important;
	border-radius: 10px !important;
	box-shadow: none !important;
}

.thumbnailListCarousel{
	padding:4px;
	border-radius:12px;
}

.cont-add{
	font-size:17px;
}