<style >
		.vcenter{
            vertical-align:middle;
		 }
		 .newMap{
		 	height:200px;
		 }
		 
		 /*
Style for carousel image dimension
*/
.home.carousel-items .item{
    padding: 5px 15px;
    border-top: 1px solid #ddd;
    min-height: 50px;
}
.home.carousel-items .item img{
    max-width: 80px;
    max-height: 40px;
}
.home.carousel-items .item .icon{
    float: left;
    font-size: 24px;
    position: relative;
    margin-right: 7px;
    margin-top: 7px;
    cursor: pointer;
    color: #999;}
.home.carousel-items .item .btn-delete-icon{
top: 8px;
}

.word-wrap {
    line-height: 40px;
    top: 0 !important;
    width: 38% !important;
    white-space: nowrap !important;
    margin-left: 5px;
      overflow: hidden;
  	text-overflow: ellipsis;
  	display: inline-block;
}

.word-wrap-action-item {
    line-height: initial;
    top: 0 !important;
    width: 30% !important;
    white-space: nowrap !important;
    margin-left: 5px;
      overflow: hidden;
  	text-overflow: ellipsis;
  	display: inline-block;
}

.carousel-item-btns{
    padding-top: 3px;
    width: 28%;
}

.carousel-item-action-link{
       width: 75%;
       overflow: hidden;
  	text-overflow: ellipsis;
}

.carousel-item-action{
    padding-top: 3px;
    width: 38%;
}
.clear-both{
    clear: both;
}

.img-carousel-thumb{
    display: block;
    float: left;
    text-align: center;
    width: 80px;
    height: 40px;
}

.img-carousel-thumb > img{
    max-height: 38px !important;
}
	.width65 {
    	width: 65% !important;
	}	 
		 
	</style>